/*Адреса футера*/
.address-list {
    display: flex;
    flex-direction: column;
}

.address-list__item:not(:first-child) {
    margin-top: 9px;
}

.address-list__link,
.address-list__contact-link {
    font-weight: getFonts('title__font-weight');
    line-height: getFonts('title__line-height');
    letter-spacing: getFonts('title__letter-spacing');
    color: getColor('content-color');
    @include transition-animation(color);
    // transition-property: color;
    // transition-duration: 250ms;
    // transition-timing-function:
    //     cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__link {
    position: relative;

    &:focus {
        color: getColor('focus-color');
    }

    &:hover {
        color: getColor('general-color');
    }

    // /*Декоративний елемент для адреси футера*/
    // &::before {
    //     content: '';
    //     position: absolute;
    //     right: 0;
    //     bottom: -1px;
    //     height: 4px;
    //     width: 0;
    //     background-color: getColor('general-color');
    //     border-radius: 2px;
    //     @include transition-animation(width);
    //     // transition-property: width;
    //     // transition-duration: 250ms;
    //     // transition-timing-function:
    //     //     cubic-bezier(0.4, 0, 0.2, 1);
    // }

    // &:focus::before {
    //     left: 0;
    //     width: 100%;
    //     background-color: getColor('focus-color');
    // }

    // &:hover::before {
    //     left: 0;
    //     width: 100%;
    //     background-color: getColor('general-color');
    // }
}

.address-list__contact-link {
    display: inline;
    padding: 0;
    color: getColor('footer__text-color');

    &:focus {
        color: getColor('focus-color');
    }

    &:hover {
        color: getColor('general-color');
    }
}
