/*Бокс для списків*/
.box-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}

.box-list__item {
    margin: 15px;
}

/*Бокс для зображень*/
.box-image {
    display: block;
    width: 100%;
}

/*Модальне вікно*/
.box-modal {
    position: absolute;
    width: 528px;
    /*height: 581px;*/
    padding: 40px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    background-color: getColor('content-color');
    box-shadow:
        0px 1px 3px getColor('box-shadow-1'),
        0px 1px 1px getColor('box-shadow-2'),
        0px 2px 1px getColor('box-shadow-3');
    border-radius: 4px;
    @include transition-animation(transform);
    // transition-property: transform;
    // transition-duration: 250ms;
    // transition-timing-function:
    //     cubic-bezier(0.4, 0, 0.2, 1);
}