/*Утилітна секція*/
.section {
    padding: 94px 0;
}

/*Хедер*/
.section-header {
    /*height: 80px;*/
    border-bottom: 1px solid getColor('header__border-color');
}

/*Замовлення*/
.section-order {
    /*height: 600px;*/
    padding: 200px 0;
    text-align: center;
    background-color: getColor('section-fon__primary');
    background-image:
        linear-gradient(to right,
            getColor('box-shadow-8'),
            getColor('box-shadow-8')),
        url("../images/photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

/*Чим ми займаємося*/
.section-our-work {
    padding-top: 0;
    padding-bottom: 94px;
}

/*Наша команда*/
.section-team {
    background-color: getColor('section-fon__secondary');
}

/*Футер*/
.section-footer {
    /*height: 252px;*/
    background-color: getColor('section-fon__primary');
    padding: 60px 0;
}

/*Бекдроп*/
.section-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: getColor('box-shadow-3');
    opacity: 1;
    @include transition-animation(opacity visibility);
    // transition-property: opacity;
    // transition-duration: 250ms;
    // transition-timing-function:
    //     cubic-bezier(0.4, 0, 0.2, 1);
}